
<h2>Welcome to <%= @user.username%> profile</h2><br>

<h3>Date registered: <%= @user.created_at%></h3><br>

<h2>Confession's submitted</h3>
<% Post.where(user_id: @user.id).each do |post| %><br>
    <ul>
        <li>
         <h3><%= link_to post.title, post %></h3>
        </li>
    </ul>
<% end %>
     
