/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#sitetitle {
    float:left;
    height:100px;
    width: 42%;
    color: #333;
}

#menu {
    height:71px;
    /* padding-top:35px; */
    text-align: right;
    margin:0;
    height:100px;
    padding:35px 6px 41px 6px;
    font-size:1.6em;
    font-weight:normal;
    letter-spacing:-1px;
    color: #888;
}

#container{
    width:92%;
    min-width:700px;
    padding:0 20px;
    margin:0 auto;
    background:#f0f0f0 url(images/contentbg.png) repeat-x;
    color:#333;
    text-align:left;
    border-left:1px solid #eef;
    border-right:1px solid #eef;
}