// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.width-content {
    width: 80%;
    height: 200px;
}

.width-title {
    width: 80%;
}